{% extends "base.html" %}
{% load static %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="row-fluid">
            <div class="span12">
                <h1>Edit Call Tree "{{ tree.nice_name }}"</h1>

                <div class="bulk-actions">
                    <div class="pull-left">
                        <div>Action:
                            <select name="action">
                                <option value="" selected="selected">---------</option>
                                {% for action in actions %}
                                    <option value="{{ action.action }}">{{ action.description }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="btn" value="Go" name="_bulkactions">
                            <span class="action-counter" style="display: inline;"><span class="selected-count">0</span> of {{ profiles|length }} selected</span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" href="{% url "call_tree_profile_self_new" tree.pk %}">Add RA to Notify</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="action-toggle" style="display: inline-block;"></th>
                            <th>Name</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in profiles %}
                            <tr>
                                <td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="{{ profile.pk }}"></td>
                                <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
                                <td>{{ profile.phone_number }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2" style="text-align: center">No one was found in this call tree.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/bulk-actions.js" %}"></script>
    <script>var _max_bulk_item_count={{ profiles|length }}; var _current_bulk_item_count=0</script>
{% endblock %}
