{% extends "base.html" %}

{% load simple_forms %}

{% block content %}

    <h1>Edit Your Call Tree Info</h1>

    {% if form.non_field_errors %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}

        <div class="row-fluid">
            <div class="col-10 col-offset-2 hidden-phone">
                <input type="submit" class="btn btn-primary" value="Save Bag" class="default" name="_save">
            </div>
        </div>

        <div class="form-actions hidden-tablet hidden-desktop">
            <input type="submit" class="btn btn-primary btn-block btn-large" value="Save Bag" class="default" name="_save">
        </div>
    </form>

{% endblock %}