{% extends "users/account_base.html" %}

{% load static %}
{% load simple_forms %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    {% if validlink %}

    <h1>Enter new password</h1>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_field form.new_password1 %}
        {% bootstrap_field form.new_password2 %}

        <button type="submit" name="submit" class="btn btn-info btn-block btn-large">Change my password</button>

    </form>

    {% else %}

        <h1>Password reset unsuccessful</h1>

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'auth_password_reset' %}">new password reset</a> .</p>

    {% endif %}


{% endblock %}
